body {
  background: rgba(0, 113, 128, 0.701);
  padding-top: 150px;
}
.form {
  font-family: cursive;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  background: white;
  max-width: 300px;
  margin: 0 auto;
  padding: 45px 45px 30px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: cursive;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 20px;
  padding: 15px;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  border: 0;
}
.form button {
  font-family: cursive;
  text-transform: uppercase;
  margin-top: 10px;
  background-color: rgba(0, 113, 128, 0.701);
  border-radius: 6px;
  color: white;
  width: 30%;
  border: 0;
  padding: 10px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(0, 113, 128);
}
